.window {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.topContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-around;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
